.navbar .brand {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar .nav {
  margin-right: 0;
}

.navbar .navbar-search {
  margin-left: 10px;
}

.navbar .nav > li#nav_user_dropdown > a {
  border: 0;
}

.navbar .nav > li.login > a {
  display: block;
  float: left;
  border: 0;
  padding: 4px 0px 3px;
  width: 32px;
  height: 32px;
}

.navbar .nav > li.login > span {
  padding: 10px 15px 10px;
  display: block;
  float: left;
}

p.login-providers {
  width: 100%;
  text-align: center;
}
