.navbar .brand {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.navbar .nav {
  margin-right: 0;
}

.navbar .navbar-search {
  margin-left: 10px;
}

.navbar .nav > li#nav_user_dropdown > a {
  border: 0;
}

.navbar .nav > li.login > a {
  display: block;
  float: left;
  border: 0;
  padding: 4px 0px 3px;
  width: 32px;
  height: 32px;
}

.navbar .nav > li.login > span {
  padding: 10px 15px 10px;
  display: block;
  float: left;
}

p.login-providers {
  width: 100%;
  text-align: center;
}

form.profileform .control-group {
    width: 50%;
    float: left;
}

form.profileform .control-group:nth-last-child(5) {
    float: right;
}

form.profileform .control-group:nth-last-child(5) textarea {
    height: 150px;
    width: 100%;
}

.progress-nav li.active a, .progress-nav li.active a:link, .progress-nav li.active a:visited, .progress-nav li.active a:hover, .progress-nav li.active a:active {
  background-color: #DD4814;
  color: white;
}

.progress-nav li a, .progress-nav li a:link, .progress-nav li a:visited, .progress-nav li a:hover, .progress-nav li a {
  background-color: #FFFFFF;
  color: #DD4814;
}

.progress-nav i {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}

.progress-nav .active i {
  opacity: 1;
}

input.create-repo {
  width: 406px;
}

select.license-select {
  width: 420px;
}
