{% extends "base.html" %}

{% block nav %}
              <li><a href="#releases">Newest releases</a></li>
              <li><a href="#forks">Newest forks</a></li>
              <li><a href="#made">Newest builds</a></li>
{% endblock %}

{% block main %}
      <div class="hero-unit">
        <h1>Welcome to Git-a-thing !</h1>
        <p>Git-a-thing is a git-based distributed object design sharing platform. Behind those buzzwords, we simply intend to build a website for sharing DIY designs easily, while being based on the <tt>git</tt> version control system and thus letting power-users use all the <tt>git</tt> advanced features.</p>
      </div>
      <div class="row">
          <div class="span4" id="releases">
              <h2>Newest releases</h2>
          </div>
          <div class="span4" id="forks">
              <h2>Newest forks</h2>
          </div>
          <div class="span4" id="made">
              <h2>Newest builds</h2>
          </div>
      </div>

{% endblock %}
