{% extends "base.html" %}
{% load url from future %}

{% block extratitle%} &mdash; Login using OpenId{% endblock %}

{% block main %}
<div class="row">
    <div class="span6 offset3">
        <form action="{% url "socialauth_begin" "openid" %}" method="post">
            {% csrf_token %}
            <legend>Login using OpenId</legend>
            <p>
                <label for="openid_identifier">OpenId</label>
                <input id="openid_identifier" type="text" value="" name="openid_identifier" />
            </p>
            <input type="hidden" name="next" value="{{ next }}" />
            <button type="submit" class="btn">Login</button>
        </form>
    </div>
</div>
{% endblock %}

