{% extends "base.html" %}

{% block main %}
<div class="row">
    <div class="span6 offset3">
        <h2>Sorry but some error made you impossible to login.</h2>
          {% if messages %}
            {% for msg in messages %}
                <p class="error">{{ msg.message }} ({{ msg.extra_tags }})</p>
            {% endfor %}
          {% endif %}
          {% if error_msg %}
            <p>Details:</p>
            <p class="error">{{ error_msg }}</p>
          {% endif %}

        <h3>Please try again !</h3>
    </div>
</div>
{% endblock %}
